.item {
    display: flex;
    color: #fff;
    border: 1px solid #222;
    box-shadow: 0 2px 3px #444;
    padding: 2px 5px;
    box-sizing: border-box;
    text-align: center;
    border-radius: 15px;
    min-width: 200px;
    background-color: rgb(85 85 88);
}

.name{
    width: 90%;
}

.button{
    border-radius: 25px;
    border: 1px solid #2e2e2e;
    box-shadow: 0 2px 3px #444;
    margin: auto;
    width: 25px;
    height: 25px;
    outline: none;
}

.add{
    background-color: #3cff3c;
}

.sub{
    background-color: #ff3c3c;
}