.item {
    display: flex;
    color: black;
    border: 1px solid #222;
    box-shadow: 0 2px 3px #444;
    padding: 2px 5px;
    box-sizing: border-box;
    text-align: center;
    border-radius: 15px;
    min-width: 200px;
}

.name{
    width: 90%;
    margin: auto;
    font-weight: bold;
}

.qty {
    margin: auto;
}

.button{
    border: none;
    margin: auto;
    outline: none;
    background-color: transparent;
}

.add{
}

.sub{
}