.bakery {
  /* background-color: #f5d776; */
  background-image: linear-gradient(to right, #ffe385, #ffc710);
}

.vegetables {
  background-color: #8cec85;
  background-image: linear-gradient(to right, #b2ff85, #54ff10);
}

.meat {
  /* background-color: #e45c5cc0; */
  background-image: linear-gradient(to right, #ff8585, #ff1010);
}

.dairy {
  /* background-color: #d5b7ee; */
  background-image: linear-gradient(to right, #d285ff, #bb10ff);
}

.chemistry {
  /* background-color: #79c4e7; */
  background-image: linear-gradient(to right, #85d8ff, #1093ff);
}

.category {
  margin: 0;
  background-color: lightgrey;
  border: 1px solid grey;
  border-radius: 7px;
  margin-top: 10px;
  text-align: left;
  padding-left: 15px;
}
