.bakery {
  background-color: #f5d776;
}

.vegetables {
  background-color: #8cec85;
}

.meat {
  background-color: #e45c5cc0;
}

.dairy {
  background-color: #d5b7ee;
}

.chemistry {
  background-color: #79c4e7;
}
